@use 'src/styles/vars';



.form{
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;

    &_input, &-btn{
        width: 50%;
    }
    &-title, &-description, &-img, &-thématique{
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-btn{
        margin-top: 1rem;
    }
}
