@use 'src/styles/vars';

.program {

    margin:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;


    &-title {
        color: vars.$dark;
    }

    &-input{
        &-icon{
            margin-right: .5rem;
            color: vars.$primary;
    }
    }

    .list-group-item{
        display: inline-flex;
        align-items: center;
        background-color: vars.$light;
        margin-bottom: .5rem;
    }

    @media (max-width: 600px) {
        .program {
            margin:1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

        &-input{
            &-icon{
                color: vars.$light;
                background-color: vars.$primary;
            }
            &-check{
                position: absolute;
                left: 7rem;
            }
        }
        }

        .list-group-item{
            // display: inline-flex;
            align-items: center;
            background-color: vars.$light;
            margin-bottom: .5rem;
            font-size: small;
        }
    }

}

.message-toast {
    color: vars.$dark;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}